html,
body {
  height: 100%;
  margin: 0;
}

.rac-tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 8px 12px;
  font: 500 12px Roboto;
  color: white;
  background: #555;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  white-space: nowrap;
}

.rac-piechart-wedge-label {
  font-size: 13px;
  font-weight: 500;
  fill-opacity: 0.9;
}
