body {
  margin: 0;
  font-family: 'Roboto';
}

text {
  font-family: 'Roboto';
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.3;
}

.grid .domain {
  stroke: none;
  stroke-width: 0;
  fill: none;
}

.x-axis .domain {
  stroke: lightgrey;
  stroke-width: 2px;
}

.y-axis .domain {
  stroke: lightgrey;
  stroke-width: 2px;
}

div.tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 8px 12px;
  font: 500 12px Roboto;
  color: white;
  background: #555;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  white-space: nowrap;
}

.piechart-wedge-label {
  /* fill: white; */
  font-size: 13px;
  font-weight: 500;
  fill-opacity: 0.9;
  user-select: none;
}

#sparks {
  display: flex;
  flex-direction: column;
}

.sparkline {
  border: 1px solid #eee;
  margin: 5px 8px;
}
